/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2022, 02:46:42 PM
    Author     : ALONSO
*/

body::-webkit-scrollbar{
    width: 8px;
   
}
body::-webkit-scrollbar-thumb{
     background:#dc3545;
     border-radius: 80px;
}